body {
    margin: 0;
    padding: 0;
    background: #f0f4f8;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    width: 350px;
    padding: 20px;
    margin: 60px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

h1 {
    background: #037737;
    color: white;
    margin: -20px -20px 20px -20px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 16px;
}

button {
    width: 100%;
    background: #0853b6;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    opacity: 0.9;
}

#qrcode-wrapper {
    display: none;
    margin-top: 20px;
}

#qrcode img {
    margin: auto;
    padding: 10px;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

#downloadBtn {
    display: none;
    background: #1c9600;
}
